body {
    margin: 0;
    font-family: "Rubrik";
  }
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

.top-main {
    background-image: url(ss/undraw_cloud_files_wmo8.svg);
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-image: url(ss/275811e90413776.jpg);
    background-size: cover;
    color: rgb(255, 153, 0);
    text-align: center;
  }
  .top-main h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  .top-main p {
      opacity: 0.7;
      margin-bottom: 3px;
      color: white;
  }
  .top-main img {
      width: 10%;
  }

  
  .contents {
    padding-bottom: 400px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  .content {
    float: left;
    width: 25%;
  }
  
  .content-icon {
    position: relative;
  }
  .content-icon img {
      width: 150px;
      height: 150px;
  }
  .text-judul {
    position: relative;
    font-weight: bold;
    font-style: bold;
    color: coral;
  }
  
  .text-info {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #5f5d60;
  }

  .heading-product {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }

  .product-wrapper {
    background-color:white;
    text-align: center;
  }
  
  .product {
    float: left;
    width: 33%;
    background-color: rgb(244, 244, 244);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
  }

  .judul-product {
    background-color: rgb(83, 109, 254);
    padding-top: 5px;
    padding-bottom: 5px;
    
  }

  .judul-product h2 {
    color: whitesmoke;
    display: inline-block;
  }

  .product ul li {
    line-height: 40px;
    list-style: outside none;
    margin-left: -45px;
    text-align: center;
  }
  
  .product .left {
    display: inline-block;
    line-height: 40px;
    margin-right: 10px;
    text-align: right;
    width: 48%;
    color: #5f5d60;
  }

  .product .right {
    display: inline-block;
    line-height: 40px;
    text-align: left;
    width: 48%;
    color: #5f5d60;
  }
  
  .product-icon {
    position: relative;
  }
  
  .product-icon p {
    position: absolute;
    top: 4%;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 220px;
    margin-top: 10px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Gantikan property display ke none */
    display:none;
  }
  